<div class = "cvpicture">
    <img src="{{ asset('images/CVMARIECHARTON.png') }}"alt="cv de marie charton">
	<p><a href="{{ asset('images/CVMARIECHARTON.pdf') }}" download class = "download"><i class="fa fa-arrow-circle-down"></i>Télécharger</a></p>
</div>