<footer>
    <div class = "notfixedbutton">
        <button id ="back-to-top-btn"><i class="fa fa-arrow-circle-up"></i></button>
    </div>
    <div class = "separation"></div>
    <div class = "footer">
        <a href="mailto:mariecharton21@gmail.com"> <i class="far fa-envelope-open"></i> Contact </a>
        {# <a href="#">Mentions Légales</a> #}
        <p>© Made with <i class="fas fa-heart"></i> by Marie Charton</p>
        <p><i class="fas fa-copyright"></i> 2020 </p>
    </div>
</footer>