<div class= "portofolio-card">
	<div class= "article">
		<div class= "portofolio-image">
			<img src="{{ asset('images/espv1.png') }}"alt="miniature du site">
		</div>
		<div class= "portofolio-content">
			<h1>ESPOIR SUR PATTES <i class="fa fa-paw"></i></h1>
			<p> Site collaboratif d'entraide pour les amoureux des animaux, réalisé dans le cadre de ma formation.</p>
			<p>En bînome, j'ai conçu entièrement la partie Back-End du site (formulaires, Controller, POO, gestion de la BDD, etc...) </p>
			<ul>
				<li>Technologies utilisées : </li>
				<li>Symfony</li>
				<li>Javascript</li>
				<li>Mysql</li>
				<li>Jquery</li>
			</ul>
		</div>
	</div>
	<div class="site-link">
		<a href="https://www.cedricpaje.fr/">Visiter le site</a>
		<a href="https://www.youtube.com/watch?v=Yfm2-PH8iTU&t=10620s#t=2h56m23s">Regarder la vidéo de présentation</a>
	</div>
</div>
<div class= "portofolio-card">
	<div class= "article">
		<div class= "portofolio-image">
			<img src="{{ asset('images/espv2.png') }}"alt="miniature du site">
		</div>
		<div class= "portofolio-content">
			<h1>ESPOIR SUR PATTES V2 <i class="fa fa-paw"></i></h1>
			<p> Site retravaillé personnellement et en solo pour la présentation de mon Titre Professionnel.</p>
			<ul>
				<li>Technologies utilisées : </li>
				<li>Symfony</li>
				<li>Javascript</li>
				<li>Sass</li>
			</ul>
		</div>
	</div>
	<div class="site-link">
		<a href="https://espoirsurpattes.mariecharton.fr/">Visiter le site</a>
	</div>
</div>
<div class= "portofolio-card">
	<div class= "article">
		<div class= "portofolio-image">
			<img src="{{ asset('images/meeple.jpg') }}"alt="miniature du site">
		</div>
		<div class= "portofolio-content">
			<h1>MY LUDISPACE <i class="fa fa-cubes"></i></h1>
			<p> Site personnel créé afin de gérer ma ludothéque et mes événements dans le monde ludique( Escape Game, salons, bénévolat...)</p>
			<p>( EN COURS DE REALISATION )</p>
			<ul>
				<li>Technologies utilisées : </li>
				<li>en cours</li>
				<li>en cours</li>
				<li>en cours</li>
			</ul>
		</div>
	</div>
	{# <div class="site-link">
		<a href="">EN TRAVAUX</a>
	</div> #}
</div>